growl-notifications {
    position: fixed;
    top: 150px;
    right: 10px;
    z-index: 1000;
}

growl-notifications growl-notification {
    padding: 15px 30px;
    width: 200px;
    display: block;
}