main {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;
}

footer {
    text-align: center;
    font-size: 0.8em;
}


#modalBody .modal-dialog {
    max-width: 75%;
}

.modal-header {
    font-size: xx-large;
}