html, body {
    height: 100vh;
    background-color: #f4f4f5;
}

app {
    display: block;
    position: relative;
    height: 95vh;
}

footer {
    height: 5vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}



#modalBody .modal-dialog {
    max-width: 75%;
}

.modal-header {
    font-size: xx-large;
}

