<nav id="sidebar" ng-if="$ctrl.isOpen">
    <div id="dismiss" ng-click="$ctrl.closeSidebar()">
        <i class="fa fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Dashboard</h3>
    </div>

    <ul id="navigation-root" class="list-unstyled">
        <li>
            <a href="#deploymentMenu" data-toggle="collapse">Deployments</a>
            <ul class="collapse list-unstyled navigation-sub" id="deploymentMenu">
                <li><a href="/deployments/canary">Canary</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div id="nav-overlay" ng-if="$ctrl.isOpen" ng-click="$ctrl.closeSidebar()"></div>