<nav id="sidebar" ng-style="$ctrl.sidebarPosition">
    <div id="dismiss" ng-click="$ctrl.closeSidebar()">
        <i class="fa fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Navigation</h3>
    </div>

    <ul class="list-unstyled">
        <li class="active"><a href="/">Home</a></li>
        <li>
            <a href="#deploymentMenu" data-toggle="collapse">DEPLOYMENTS</a>
            <ul class="collapse list-unstyled" id="deploymentMenu">
                <li><a href="/deployments/canary">Canary</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="nav-overlay"></div>