<nav id="sidebar">
    <div id="dismiss">
        <i class="far fa-angle-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Navigation</h3>
    </div>

    <ul class="list-unstyled">
        <li class="active"><a href="/">Home</a></li>
        <li>
            <a href="#deploymentMenu" data-toggle="deploymentMenu">DEPLOYMENTS</a>
            <ul class="collapse list-unstyled" id="deploymentMenu">
                <li><a href="/deployments/canary">Canary</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="nav-overlay"></div>